# Dependencies
node_modules
.pnpm-store

# Local build outputs
dist
build
.next

# Git & IDE configs
.git
.gitignore
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment & Logs
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS specific
.DS_Store
Thumbs.db